body {
    display: grid;
    grid-template-columns: 100%;
}
.wrap {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, minmax(min-content, 70px));
}

header {
    grid-area: 1/1/1/13;
    text-align: center;
    background-color: #557;
    color: #fff;
    line-height: 50px;
}

nav {
    grid-area: 2/1/12/3;
    background-color: #eef;
}

main {
    grid-area: 2/3/11/11;
}

aside {
    grid-area: 2/11/12/13;
    background-color: #eef;
}

footer {
    grid-area: 12/1/13/13;
    text-align: center;
    background-color: #557;
    color: #fff;
    line-height: 50px;
}

.control {
    grid-area: 10/8/10/10;
    background-color: #777;
    color: white;
    text-align: center;
    line-height: 50px;
    opacity: .8;
    z-index: 2;
}